<div id="container">
    <h2 id="title">The Crimson</h2>
    <div id="top"></div>
    <div id="menu">
        <nav>
            <ul class="menuItems">
                <li><a href="../index.html">Home</a></li>
                <li id="loginPage"><a href="/Project1/myapi/logout">My Page</a></li>
                <li><a href="../WebPages/About.html">Messages</a></li>
                <li><a href="../WebPages/ApplicationForm.html">Feed Posts</a></li>
                <li><a href="../WebPages/Messages.html">Friends</a></li>
            </ul>
        </nav>
    </div>
